    <div class="grid-card page-width">
      <div class="card-container card-1 card-active" style="position: relative;">
        <div class="card-title card-title-1 card-title-active" data-card="1">STRATEGY +</div>
        <div class="card-content card-content-1 card-content-active">
          <h5 style="color: #fff">OUR SERVICES</h5>
          <h2 style="color: #fff">STRATEGY</h2>
          <p>
            You’ve got the great idea, we’ve got the experience and expertise to
            bring it to life. We work closely with businesses all over the globe
            to create strategically sound E-commerce solutions.
          </p>
          <div class="two-col-text">
            <div>
              <ul>
                <li><h6 style="color: #fff">Conversion Optimization</h6></li>
                <li><h6 style="color: #fff">Customer Insights</h6></li>
                <li><h6 style="color: #fff">Competitive Analysis</h6></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h6 style="color: #fff">User Experience Audit</h6></li>
                <li><h6 style="color: #fff">Content Creation</h6></li>
                <li><h6 style="color: #fff">Analytics + Keywords</h6></li>
              </ul>
            </div>
          </div>
          <div
            class="rich-text__buttons"
            style="justify-content: start; padding-top: 20px"
          >
            <a href="/pages/contact" class="button button--secondary"
              >LEARN MORE</a
            >
          </div>
        </div>
      </div>
      <div class="card-container card-2" style="position: relative;">
        <div class="card-title card-title-2" data-card="2">DESIGN +</div>
        <div class="card-content card-content-2">
          <h5 style="color: #fff">OUR SERVICES</h5>
          <h2 style="color: #fff">DESIGN</h2>
          <p>
            You’ve got the great idea, we’ve got the experience and expertise to
            bring it to life. We work closely with businesses all over the globe
            to create strategically sound E-commerce solutions.
          </p>
          <div class="two-col-text">
            <div>
              <ul>
                <li><h6 style="color: #fff">Conversion Optimization</h6></li>
                <li><h6 style="color: #fff">Customer Insights</h6></li>
                <li><h6 style="color: #fff">Competitive Analysis</h6></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h6 style="color: #fff">User Experience Audit</h6></li>
                <li><h6 style="color: #fff">Content Creation</h6></li>
                <li><h6 style="color: #fff">Analytics + Keywords</h6></li>
              </ul>
            </div>
          </div>
          <div
            class="rich-text__buttons"
            style="justify-content: start; padding-top: 20px"
          >
            <a href="/pages/contact" class="button button--secondary"
              >LEARN MORE</a
            >
          </div>
        </div>
      </div>
      <div class="card-container card-3" style="position: relative;">
        <div class="card-title card-title-3" data-card="3">DEVELOPMENT +</div>
        <div class="card-content card-content-3">
          <h5 style="color: #fff">OUR SERVICES</h5>
          <h2 style="color: #fff">DEVELOPMENT</h2>
          <p>
            You’ve got the great idea, we’ve got the experience and expertise to
            bring it to life. We work closely with businesses all over the globe
            to create strategically sound E-commerce solutions.
          </p>
          <div class="two-col-text">
            <div>
              <ul>
                <li><h6 style="color: #fff">Conversion Optimization</h6></li>
                <li><h6 style="color: #fff">Customer Insights</h6></li>
                <li><h6 style="color: #fff">Competitive Analysis</h6></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h6 style="color: #fff">User Experience Audit</h6></li>
                <li><h6 style="color: #fff">Content Creation</h6></li>
                <li><h6 style="color: #fff">Analytics + Keywords</h6></li>
              </ul>
            </div>
          </div>
          <div
            class="rich-text__buttons"
            style="justify-content: start; padding-top: 20px"
          >
            <a href="/pages/contact" class="button button--secondary"
              >LEARN MORE</a
            >
          </div>
        </div>
      </div>
      <div class="card-container card-4" style="position: relative;">
        <div class="card-title card-title-4" data-card="4">MARKETING +</div>
        <div class="card-content card-content-4">
          <h5 style="color: #fff">OUR SERVICES</h5>
          <h2 style="color: #fff">MARKETING</h2>
          <p>
            You’ve got the great idea, we’ve got the experience and expertise to
            bring it to life. We work closely with businesses all over the globe
            to create strategically sound E-commerce solutions.
          </p>
          <div class="two-col-text">
            <div>
              <ul>
                <li><h6 style="color: #fff">Conversion Optimization</h6></li>
                <li><h6 style="color: #fff">Customer Insights</h6></li>
                <li><h6 style="color: #fff">Competitive Analysis</h6></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h6 style="color: #fff">User Experience Audit</h6></li>
                <li><h6 style="color: #fff">Content Creation</h6></li>
                <li><h6 style="color: #fff">Analytics + Keywords</h6></li>
              </ul>
            </div>
          </div>
          <div
            class="rich-text__buttons"
            style="justify-content: start; padding-top: 20px"
          >
            <a href="/pages/contact" class="button button--secondary"
              >LEARN MORE</a
            >
          </div>
        </div>
      </div>
    </div>

{% schema %}
  {
    "name": "Grid Card",
    "settings": [],
    "presets": [
{
"name": "Homepage Grid Card",
"category": "ADVANCED LAYOUT"
}
]
  }
{% endschema %}

{% stylesheet %}
      .grid-card {
        display: flex;
        flex-direction: row;
        padding-bottom: 180px !important;
        justify-content: space-between;
      }
      .two-col-text {
        display: flex;
        flex-direction: row;
      }
      .card-active {
        background-color: #000 !important;
        width: 50% !important;
      }
      .card-container {
        background-color: #e4e4e4;
        height: 573px;
        width: 15%;
        border-radius: 10px;
        position: relative;
            transition: width 0.5s;
      }
      .card-content {
        color: #fff;
        font-family: NeueMontrealBook;
        padding: 50px 100px;
            visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 5s;
      }
      .card-content-active {
            visibility: visible;
    opacity: 1;
      }
  .card-title{
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    color: #B1B1B1;
              font-size: 47px;
    line-height: 150%;
    text-transform: uppercase;
          font-family: NeueMontrealMedium; 
  margin-block-start: 0;
    margin-block-end: 0;
          font-weight: bolder;
    cursor: pointer;
  }

  .card-title-active {display:none;}
{% endstylesheet %}

{% javascript %}
  const cardParents = document.querySelector('.grid-card');
  const cards = document.querySelectorAll('.card-container');

  cardParents.addEventListener('click', function (e) {
    const clicked = e.target.classList.contains('card-title');
    if (!clicked) return;
    console.log(clicked);

    [...cardParents.children].forEach(el => el.classList.remove('card-active'));
    e.target.parentElement.classList.add('card-active');

    //Active Tab Area
    const content = document.querySelectorAll('.card-content');
    content.forEach(c => c.classList.remove('card-content-active'));
    document
      .querySelector(`.card-content-${e.target.dataset.card}`)
      .classList.add('card-content-active');

   //Hide Title Area
    const title = document.querySelectorAll('.card-title');
    title.forEach(t => t.classList.remove('card-title-active'));
    document
      .querySelector(`.card-title-${e.target.dataset.card}`)
      .classList.add('card-title-active');
  });
{% endjavascript %}